.my-component-container-auto { width: 100%; height: calc(100vh - 55px); padding: 15px; box-sizing: border-box; }
.my-component-container-auto-tab { width: 100%; height: calc(100vh - 55px - 49px); padding: 15px; box-sizing: border-box; }
.mat-cell {
  padding: 8px 8px 8px 0;
}
.mat-header-cell {
  padding: 8px 8px 8px 0;
}