<div style="max-width: 440px; margin-left: auto; margin-right: auto; padding: 20px;">
  <h1 style="text-align: center;">Sign In</h1>
  <mat-card>
    <div fxLayout="column" fxLayoutGap="10px">

      <mat-form-field>
        <input matInput formControlName="email" type="email" placeholder="Email" autocomplete="off" #userName required/>
        <!-- <mat-error *ngIf="email!.invalid && email!.dirty">
          You must enter a valid email address
        </mat-error> -->
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="password" type="password" placeholder="Password" autocomplete="off" #userPassword required/>
        <!-- <mat-error *ngIf="password!.invalid && password!.dirty">
          Password must be at least 6 characters long
        </mat-error> -->
      </mat-form-field>

    <!-- <div class="formGroup">
      <input matInput type="text" class="formControl" placeholder="Username" #userName required>
    </div> -->
    <!-- <div class="formGroup">
      <input matInput type="password" class="formControl" placeholder="Password" #userPassword required>
    </div> -->
    <!-- Calling SignIn Api from AuthService -->
    <div class="formGroup">
      <input type="button" class="btn btnPrimary" value="Log in"
        (click)="authService.SignIn(userName.value, userPassword.value)">
    </div>
    <div class="formGroup">
      <span class="or"><span class="orInner">Or</span></span>
    </div>
    <!-- Calling GoogleAuth Api from AuthService -->
    <div class="formGroup">
      <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
        <i class="fab fa-google-plus-g"></i>
        Log in with Google
      </button>
    </div>
    <div class="forgotPassword">
      <span routerLink="/forgot-password">Forgot Password?</span>
    </div>
    <div class="redirectToLogin">
      <span>Don't have an account?<span class="redirect" routerLink="/register-user"> Sign Up</span></span>
    </div>
    </div>
  </mat-card>
</div>